*{
    
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
table {
    width: 100%;
    border-collapse: collapse;

}
img{
    width: 200px;
    height: 100px;
}
.nav-box{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
li,a{
    text-decoration: none;
    list-style-type: none;

}
#menu-box{
    display: flex;
}
#menu-box li{
    margin: 10px;
    padding: 10px;
}
#menu-box li a{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    font-size: 16px;
    text-transform: uppercase;
}
#menu-box li a:hover{
    
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
   text-decoration: underline;
   text-decoration-color: rgb(128, 21, 21);
    transition: 0.2s;
}
#header-box{
    background-color: black;
    height: 190px;
}
.banner img{
    height: 744px;
    width: 100%;
}

#article-box{
    display: flex;
    justify-content: center;

}
article{
    align-items: center;
    text-align: center;

}
.card{
    background-color: rgb(128, 21, 21);
    margin: 5px;
    width: 312px;
    height: 400px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 30px;
    padding: 0px;
}
.album{
    width: 312px;
    height: 300px;
    align-items: center;
}
#footer-text{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 25%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-box{
    display: flex;
    background-color: rgb(128, 21, 21);
    margin-top: 35px;
}


